<div class="web_ui_settings_container">
  <section>
    <h2> Themeing </h2>

    <div class="choose_theme">
      <p> Choose a theme:  </p>
      <mat-radio-group class="theme_options" [(ngModel)]="theme_settings.theme">
        <mat-radio-button class="individual_theme_option" color="accent" *ngFor="let option of theme_options" [value]="option">
          {{option}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </section >
  <br/>

  <section>
    <h2> Torrent Table </h2>

    <mat-checkbox [(ngModel)]="torrent_table_settings.paginate">Paginate torrents</mat-checkbox>

    <div class="pagination_options {{torrent_table_settings.paginate ? '' : 'disabled'}}">
      <div class="field">
        <p>Default number of rows per page:</p>
        <mat-form-field class="small_numeric_field">
          <input matInput type="number" [(ngModel)]="torrent_table_settings.default_items_per_page" value="{{torrent_table_settings.default_items_per_page}}">
        </mat-form-field>
      </div>
    </div>
  </section>

</div>
