<div>
    <!-- <button (click)="getTorrentData()">Get Torrents</button> -->
    
    <mat-spinner diameter=50 *ngIf="isLoading()"></mat-spinner>
    <p id="loading_p" *ngIf="isLoading()">Loading...</p>

    <!-- Table of torrent data -->
    <mat-table *ngIf="!isLoading()" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">

        <ng-container  matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let torrent">{{torrent.name}}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let torrent">
                <button mat-icon-button (click)="handleTorrentPause(torrent)">
                    <mat-icon>pause</mat-icon>
                </button>

                <button color="warn" mat-icon-button (click)="openDeleteTorrentDialog(torrent)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <ng-container  matColumnDef="Size">
            <mat-header-cell *matHeaderCellDef>Size</mat-header-cell>
            <mat-cell *matCellDef="let torrent">{{getFileSizeString(torrent.size)}}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="Progress">
            <mat-header-cell *matHeaderCellDef>Progress</mat-header-cell>
            <mat-cell *matCellDef="let torrent">
                <progress-bar progress="{{torrent.progress * 100}}" [color]="'#488aff'">
                </progress-bar>
            </mat-cell>
        </ng-container>

        <ng-container  matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let torrent">{{torrent.state}}</mat-cell>
        </ng-container>
        
        <ng-container  matColumnDef="Down_Speed">
            <mat-header-cell *matHeaderCellDef>Down Speed</mat-header-cell>
            <mat-cell *matCellDef="let torrent">{{getFileSizeString(torrent.dlspeed)}}/s</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="Up_Speed">
            <mat-header-cell *matHeaderCellDef>Up Speed</mat-header-cell>
            <mat-cell *matCellDef="let torrent">{{getFileSizeString(torrent.upspeed)}}/s</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="ETA">
            <mat-header-cell *matHeaderCellDef>ETA</mat-header-cell>
            <mat-cell *matCellDef="let torrent">{{getTorrentETAString(torrent)}}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="Completed_On">
            <mat-header-cell *matHeaderCellDef>Completed On</mat-header-cell>
            <mat-cell *matCellDef="let torrent">
                {{getCompletedOnString(torrent.completion_on)}}
            </mat-cell>
        </ng-container>

        <!-- Header row of table -->
        <mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
    </mat-table>
</div>

