table {
    width: 100%
}

th.mat-sort-header-sorted {
    color: black;
}

mat-spinner {
    align-self: center;
    margin: 5% auto 10px auto;
}

mat-table {
    height: 85vh;
    width: 98vw;

    margin: 20px 10px 10px 10px;

    overflow: scroll;
}

#loading_p {
    width: 50px;
    align-self: center;
    margin: 10px auto 10px auto;
}