<div [ngClass]="{'dark-theme': isDarkTheme | async}" class="torrent-table-container">
    <!-- <button (click)="getTorrentData()">Get Torrents</button> -->

    <mat-spinner diameter=50 *ngIf="isLoading()"></mat-spinner>
    <p id="loading_p" *ngIf="isLoading()">Loading...</p>

    <app-bulk-update-torrents (onChange)="handleBulkEditChange($event)" *ngIf="!isLoading() && !isTorrentsEmpty() && !isMobileUser"></app-bulk-update-torrents>

    <!-- Handle context menu -->
    <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>

    <!-- Only show on desktop browsers -->
    <p-table *ngIf="!isLoading() && !isTorrentsEmpty() && !isMobileUser" styleClass="p-datatable-sm"
      [columns]="displayedColumns"
      [value]="filteredTorrentData"
      dataKey="hash"

      [scrollable]="true"
      scrollHeight="73vh"
      [rows]="userPref.web_ui_options?.torrent_table?.default_items_per_page"

      [virtualRowHeight]="50"
      [virtualScroll]="true"

      [reorderableColumns]="true"

      [contextMenu]="cm"
      [(contextMenuSelection)]="contextMenuSelectedTorrent"

      [resizableColumns]="true" 
      columnResizeMode="expand"
      responsiveLayout="scroll"

      (onColReorder)="handleColumnReorder($event)"
      (onColResize)="handleColumnResize($event)"
      >

      <!-- TABLE HEADER -->
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of displayedColumns" 
              [id]="getIdForColumns(col)" 
              [class]="getClassNameForColumns(col)" 
              
              pReorderableColumn 

              pResizableColumn
              [pResizableColumnDisabled]="['select', 'Actions'].includes(col)" 

              [pSortableColumn]="displayedColumnsMapping[col]"
          >
            
            <div style="display: flex;" [ngSwitch]="col">
              <!-- Checkbox for selecting ALL torrents -->
              <div *ngSwitchCase="'select'">
                <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [style]="{marginLeft: '10px'}">
                </mat-checkbox>
              </div>

              <div *ngSwitchDefault>{{col}}</div>

              <p-sortIcon *ngIf="!['select', 'Actions'].includes(col)" [field]="displayedColumnsMapping[col]"></p-sortIcon>
            </div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="colgroup">
        <colgroup>
          <col *ngFor="let col of displayedColumns" [ngStyle]="{ 'width': colWidths[col] + 'px' || 'initial' }">
        </colgroup>
      </ng-template>

      <!-- TABLE ROWS -->
      <ng-template pTemplate="body" let-torrent let-columns="columns">
        <tr class="torrent-table-row"
            [ngClass]="{selected: isSelected(torrent)}"

            (click)="handleTorrentSelected(torrent)"
            (contextmenu)="handleTorrentSelected(torrent)"

            [pContextMenuRow]="torrent"
          >
          <td *ngFor="let col of columns" [class]="getClassNameForColumns(col)">
            <div [ngSwitch]="col">
              <div *ngSwitchCase="'select'">
                <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                          (change)="$event ? handleTorrentSelected(torrent) : null"
                          [checked]="selection.isSelected(torrent)" [style]="{marginLeft: '10px'}">
                </mat-checkbox>
              </div>

              <div *ngSwitchCase="'Actions'">
                <button color="warn" mat-icon-button matTooltip="Delete Torrent" matTooltipPosition="below" (click)="openDeleteTorrentDialog($event, [torrent])">
                  <mat-icon>delete</mat-icon>
                </button>

                <button *ngIf="!isTorrentPaused(torrent)" mat-icon-button matTooltip="Pause Torrent" color="accent" matTooltipPosition="below"
                (click)="$event.stopPropagation();pauseTorrentsBulk([torrent])">
                    <mat-icon>pause</mat-icon>
                </button>

                <button *ngIf="isTorrentPaused(torrent)" mat-icon-button matTooltip="Resume Torrent" color="primary" matTooltipPosition="below"
                (click)="$event.stopPropagation();resumeTorrentsBulk([torrent])">
                    <mat-icon>play_arrow</mat-icon>
                </button>

                <button color="primary" mat-icon-button matTooltip="More Info" matTooltipPosition="right" (click)="openInfoTorrentDialog($event, torrent)">
                    <mat-icon>info</mat-icon>
                </button>
              </div>

              <div *ngSwitchCase="'Progress'">
                <p-progressBar class="custom_progress_bar {{torrent.progress > 0.5 ? 'white_label' : ''}}"
                  [value]="(torrent.progress * 100).toFixed(2)">
                </p-progressBar>
              </div>

              <div *ngSwitchCase="'Size'">
                {{getFileSizeString(torrent.size)}}
              </div>

              <div *ngSwitchCase="'ETA'">
                {{getTorrentETAString(torrent)}}
              </div>

              <div *ngSwitchCase="'Uploaded'">
                {{getFileSizeString(torrent.uploaded)}}
              </div>

              <div *ngSwitchCase="'Downloaded'">
                {{getFileSizeString(torrent.downloaded)}}
              </div>

              <div *ngSwitchCase="'Ratio'">
                {{getTorrentRatioString(torrent)}}
              </div>

              <div *ngSwitchCase="'Down Speed'">
                {{getFileSizeString(torrent.dlspeed)}}/s
              </div>

              <div *ngSwitchCase="'Up Speed'">
                {{getFileSizeString(torrent.upspeed)}}/s
              </div>

              <div *ngSwitchCase="'Completed On'">
                {{getCompletedOnString(torrent.completion_on)}}
              </div>

              <div *ngSwitchCase="'Added On'">
                {{getCompletedOnString(torrent.added_on)}}
              </div>

              <div *ngSwitchCase="'Last Activity'">
                {{getCompletedOnString(torrent.last_activity)}}
              </div>

              <div *ngSwitchCase="'Status'">
                <p-tag
                  *ngIf="torrent.force_start"
                  value="[F]"
                  styleClass="torrent-status info"
                  [style]="{marginRight: '5px'}"
                  >

                </p-tag>

                <p-tag
                  [value]="getStatusString(torrent.state)"
                  [styleClass]="getClassForStatus(torrent)"
                  >
                </p-tag>
              </div>

              <div *ngSwitchDefault [ngStyle]="{ 'width': colWidths[col] + 'px' || 'initial' }">{{torrent[displayedColumnsMapping[col]]}}</div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- If mobile browser, simpler list view -->
    <p-virtualScroller *ngIf="isMobileUser" [value]="filteredTorrentData" [trackBy]="trackBy" scrollHeight="90vh" [lazy]="true" [itemSize]="225">
      <ng-template let-torrent pTemplate="torrent">
        <mat-card class="torrent-card-view mat-elevation-z0" (click)="openInfoTorrentDialog($event, torrent)">
          <mat-card-header style="margin: 0;">
            <mat-card-title class="word-break-all" style="font-size: 12pt;">{{torrent.name}}</mat-card-title>
            <!-- Show how much has downloaded -->
            <mat-card-subtitle>
              {{getFileSizeString(torrent.downloaded > torrent.size ? torrent.size : torrent.downloaded)}} / {{getFileSizeString(torrent.size)}}
            </mat-card-subtitle>

            <div class="spacer"></div>

            <!-- Delete button -->
            <div>
              <button color="warn" mat-icon-button (click)="openDeleteTorrentDialog($event, [torrent])" style="margin-right: 10px;">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-header>
          
          <mat-card-content class="torrent-card-view-content">
            <!-- Show tags -->
            <mat-card-subtitle style="width: max-content;">
              <p-tag
              *ngIf="torrent.force_start"
              value="[F]"
              styleClass="torrent-status info"
              [style]="{marginRight: '5px'}"
              >

              </p-tag>

              <p-tag
                [value]="getStatusString(torrent.state)"
                [styleClass]="getClassForStatus(torrent)"
                >
              </p-tag>
            </mat-card-subtitle>

            <!-- Download speed and more info -->
            <div class="row space-between align-baseline" style="margin-bottom: 10px;">
              <p>
                <i class="pi pi-arrow-down"></i>&nbsp;: {{getFileSizeString(torrent.dlspeed)}}/s,
                <i class="pi pi-arrow-up"></i>&nbsp;: {{getFileSizeString(torrent.upspeed)}}/s
              </p>
            </div>
            
            <!-- Progress bar -->
            <div class="row">
              <p-progressBar class="custom_progress_bar {{torrent.progress > 0.5 ? 'white_label' : ''}}"
                [value]="(torrent.progress * 100).toFixed(2)">
              </p-progressBar>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </p-virtualScroller>

    <div *ngIf="isTorrentsEmpty()" style="margin: 15px;">
      <p> No torrents found. Try adding one by clicking Upload at the top-right. </p>
    </div>
</div>

