<div>
    <p>torrents-table works! {{cookieValueSID}}</p>
    <button (click)="getTorrentData()">torrent data</button>
    
    <!-- Table of torrent data -->
    <mat-table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">

        <ng-container  matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let torrent">{{torrent.name}}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="Size">
            <mat-header-cell *matHeaderCellDef>Size</mat-header-cell>
            <mat-cell *matCellDef="let torrent">{{torrent.size}}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="Progress">
            <mat-header-cell *matHeaderCellDef>Progress</mat-header-cell>
            <mat-cell *matCellDef="let torrent">{{torrent.progress}}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let torrent">{{torrent.state}}</mat-cell>
        </ng-container>
        
        <ng-container  matColumnDef="Down Speed">
            <mat-header-cell *matHeaderCellDef>Down Speed</mat-header-cell>
            <mat-cell *matCellDef="let torrent">{{torrent.dlspeed}}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="Up Speed">
            <mat-header-cell *matHeaderCellDef>Up Speed</mat-header-cell>
            <mat-cell *matCellDef="let torrent">{{torrent.upspeed}}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="ETA">
            <mat-header-cell *matHeaderCellDef>ETA</mat-header-cell>
            <mat-cell *matCellDef="let torrent">{{torrent.eta}}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="Completed On">
            <mat-header-cell *matHeaderCellDef>Completed On</mat-header-cell>
            <mat-cell *matCellDef="let torrent">FILL IN</mat-cell>
        </ng-container>

        <!-- Header row of table -->
        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
    </mat-table>
</div>

