.tree-invisible {
  display: none;
}

.example-tree ,
.example-tree  {
  li, ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .directory-node {
    cursor: pointer;
  }

  .file-node.mat-tree-node {
    cursor: default;
  }

  overflow-x: scroll;
}

#expand_folder_button {
  pointer-events: none;
}

.node-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;

  #node-title {
    flex-grow: 1;
    width: 70%;
    word-wrap: break-word;
  }

  #progress, #fileSize {
    flex-wrap: nowrap;
  }
}

.grow {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  #progress, #fileSize {
    margin: 0 8px;
  }
}
