.tree-invisible {
  display: none;
}

.example-tree ,
.example-tree  {
  li, ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .directory-node {
    cursor: pointer;
  }

  .file-node.mat-tree-node {
    cursor: default;
  }

  word-wrap: break-word;
}

#expand_folder_button {
  pointer-events: none;
}

.toggle_checkbox {
  margin: 0 10px 0 20px;
}

.node-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 0 10px;

  .node-title {
    word-wrap: break-word;
    width: 360px;
  }

  .priority_selection {
    font-size: 10pt;
    padding-top: 10px;
  }

  #progress, #fileSize {
    flex-wrap: nowrap;
  }
}

.grow {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  flex-grow: 0.1;

  #progress, #fileSize {
    margin: 0 2px;
    width: 80px;
    text-align: end;
  }

  #progress { width: 100px; }
}
