<div [ngClass]="{'dark-theme': isDarkTheme | async}" class="mat-dialog-inner-container mat-app-background">

  <h2 mat-dialog-title>Global {{inputData.for}} Limit</h2>
  <mat-divider></mat-divider>
  <mat-dialog-content class="mat-typography">
    <div class="field">
      <p>New Limit:</p>
      <mat-form-field  class="regular_field">
        <input matInput type="number" [(ngModel)]="newLimit" value="{{newLimit}}">
        <mat-hint align="start">(0 or -1 implies &infin;)</mat-hint>
      </mat-form-field>
      <p>&nbsp; KiB/s</p>
    </div>

    <br/>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button disabled={{isLoading}} mat-button [mat-dialog-close]="true">Cancel</button>
    <button disabled={{isLoading}} (click)="updateLimit()" mat-raised-button (click)="false" color="primary" cdkFocusInitial>Update</button>
  </mat-dialog-actions>

</div>
