@import "~@angular/material/theming";
@import "../../../variables.scss";

/** Declare Variables */
$border-dark: #494949;

.spacer {
  flex-grow: 1;
}

.leftNavigation, .directoryContents {
    padding: 10px;
}

.leftNavigation {
  padding-left: 0;
  padding-right: 3px;

  width: 250px;
  height: 450px;

  overflow: auto;
}

.directoryContents {
  height: 450px;
  width: 75%;

  overflow-y: scroll;

  .create-new-folder-input {
    min-width: 80%;
    height: 50px;

    padding: 10px;
    padding-left: 20px;
  }
}

.file-systme-explorer-container {
  min-height: 50vh;
  min-width: 40vw;

  display: flex;
  flex-direction: row;

  overflow: hidden;

  .folder {
    height: 40px;
    width: 100%;

    margin: 5px 5px 5px 0;
    padding: 3px 0;

    border-radius: 5px;

    cursor: pointer;
    overflow-x: scroll;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    &.selected-folder {
      border-right: solid 5px mat-color($my-app-primary);
    }

    .folder-icon {
      margin: 0 5px 0 10px;
    }
    
    .folder-name {
      margin: 0 5px;
    }
  }
}

.file-explorer-header {
  display: flex;
  flex-direction: row;

  .searchDirectoriesContainer {
    height: 50px;
    width: 40%;
    min-width: 300px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    #directorySearchInput {
      font-size: 12pt;
      letter-spacing: 0.06em;

      border: 0px solid;
      outline: none;

      flex-grow: 1;

      padding-bottom: 7px;
      margin: 5px 5px 0 10px;

      background: inherit;
      color: inherit;
    }
  }
}

#fs-navigator {
  width: 100%;
  margin-bottom: 25px;
}

#saveLocation {
  flex-grow: 1;
  margin: 0 15px;
  padding: 0 15px;

  height: 36px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;

  overflow: auto;

  // Hacky, need to center the text
  // span { margin-top: 6px; }
}

.dark-theme {
  .file-systme-explorer-container {  
    .folder {  
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }

      &.selected-folder {
        border-right: solid 5px mat-color($dark-accent);
      }
    }
  }

  #saveLocation {
    background: $table-surface-1;
  }
}
