/** Declare Variables */
$border-dark: #494949;

.leftNavigation, .directoryContents {
    padding: 10px;
}

.file-systme-explorer-container {
    min-height: 50vh;
    min-width: 70vw;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}

.file-explorer-actions {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 10px;

  .left-actions {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    flex-grow: 1;

    #saveLocation {
      margin: 0;
      margin-left: 20px;
    }
  }
}

.leftNavigation {
    padding-left: 0;
    padding-right: 0;
    flex-grow: 1;

    max-width: 300px;
    height: 450px;

    overflow-y: scroll;
}

.directoryContents {
    flex-grow: 4;

    height: 450px;

    overflow-y: scroll;

    .create-new-folder-input {
      min-width: 60%;
    }
}

#isFolderSelected {
    justify-self: flex-end;
}
