/** Declare Variables */
$border-dark: #494949;

.spacer {
  flex-grow: 1;
}

.leftNavigation, .directoryContents {
    padding: 10px;
}

.file-systme-explorer-container {
    min-height: 50vh;
    min-width: 70vw;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}

.file-explorer-header {
  display: flex;
  flex-direction: row;

  .searchDirectoriesContainer {
    height: 60px;
    width: 60%;
    min-width: 100px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    #directorySearchInput {
      font-size: 12pt;
      letter-spacing: 0.06em;

      border: 0px solid;
      outline: none;

      flex-grow: 1;

      padding-bottom: 7px;
      margin: 5px 5px 0 10px;

      background: inherit;
      color: inherit;
    }
  }
}

.file-explorer-actions {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 10px;

  .left-actions {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    flex-grow: 1;
    max-width: 90%;

    #saveLocation {
      margin: 0;
      margin-left: 20px;
      max-width: 90%;
      word-wrap: break-word;
    }
  }
}

.leftNavigation {
    padding-left: 0;
    padding-right: 0;
    flex-grow: 1;

    max-width: 300px;
    height: 450px;

    overflow-y: scroll;
}

.directoryContents {
    flex-grow: 4;

    height: 450px;

    overflow-y: scroll;

    max-width: 75%;

    .create-new-folder-input {
      min-width: 80%;
      height: 50px;

      padding: 10px;
      padding-left: 20px;
    }
}

#isFolderSelected {
    justify-self: flex-end;
}
