<style>
    .login {
        min-height: 95%;
        padding: 15px;
        padding-top: 10%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .loginFields {
        margin: 5px;
    }

    .ui-float-label {
        margin: 15px;
    }

    #username, #password {
        height: 25px;
    }
</style>

<div class="login">

    <h1>qBittorent Web UI</h1>
    <div class="loginFields">
        <span class="ui-float-label">
            <input id="username" type="text" size="30" placeholder="Username" pInputText>
        </span>

        <span class="ui-float-label">
            <input id="password" type="password" size="30" placeholder="Password" pInputText> 
        </span>
    </div>

    <button (click)="login()">Login</button>

</div>
