<div [ngClass]="{'dark-theme': isDarkTheme | async}" class="upload_outer_container">
  <div class="mat-dialog-inner-container mat-app-background upload_container">

    <div class="row space-between align-baseline">
      <h2 mat-dialog-title>Upload Torrents</h2>

      <mat-dialog-actions *ngIf="isMobileUser" align="end">
        <button disabled={{isLoading}} mat-button [mat-dialog-close]="true">Cancel</button>
        <button disabled={{isUploadDisabled()}} mat-raised-button (click)="handleUpload()" color="primary" cdkFocusInitial>Upload</button>
      </mat-dialog-actions>
    </div>

    <mat-dialog-content class="mat-typography dialog_content">
      <mat-tab-group mat-align-tabs="start" (selectedTabChange)="handleTabChange($event)" [selectedIndex]="currentTab?.index || 0">
        <mat-tab label="File Upload">
          <div class="file_upload_container">
            <br/>

            <div [ngClass]="{'dark-theme': isDarkTheme | async}" class="upload_files" appDragAndDropFiles (fileDropped)="updateFiles($event, true)" (click)="torrentFileUpload.click()">
              <div *ngIf="!isMobileUser">
                <h4>Drag and drop files here</h4>
                <h4>or</h4>
              </div>

              <button color="primary" mat-flat-button>
                <mat-icon>attach_file</mat-icon>
                &nbsp; Browse for files
              </button>

              <button *ngIf="hasUploadedFiles()" color="warn" mat-stroked-button (click)="clearUploadedFiles($event)" style="margin-top: 10px;">
                <mat-icon>close</mat-icon>
                Clear selection
              </button>

              <br/>
              <h4 *ngIf="!show_torrent_contents || isMobileUser">
                <i> {{getFilesToUploadString()}} </i>
              </h4>

              <input multiple #torrentFileUpload type="file" accept=".torrent" id="torrentFileUpload" (change)="updateFiles($event)">
            </div>
            <br/>
        </div>
        </mat-tab>

        <mat-tab label="Magnet URL">
          <br/>
          <mat-form-field id="magnet_url_input" appearance="outline">
            <mat-label>List of URLs...</mat-label>
            <textarea rows="17" value="{{urlsToUpload}}" name="savepath" type="text" id="savepath" (change)="updateURLsToUpload($event)" matInput></textarea>
            <mat-hint align="start">Separate each URL with a new line</mat-hint>
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>
      <br/>

      <mat-divider></mat-divider>
      <br/>

      <h3>Save Location</h3>

      <div id="choose_save_location">
        <mat-form-field appearance="outline">
          <mat-label>Download To...</mat-label>
          <input value="{{filesDestination}}" name="savepath" type="text" id="savepath" (change)="updateFileDestination($event)" matInput [matAutocomplete]="auto" >

          <mat-autocomplete autoActiveFirstOption  #auto="matAutocomplete">
            <mat-option *ngFor="let option of allSaveLocations" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <button id="trigger_file_explorer" color="accent" mat-raised-button (click)="openFileSystemExplorerDialog($event)">
          <mat-icon>folder</mat-icon>
          &nbsp; Location
        </button>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions *ngIf="!isMobileUser" align="end">
      <button disabled={{isLoading}} mat-button [mat-dialog-close]="true">Cancel</button>
      <button disabled={{isUploadDisabled()}} mat-raised-button (click)="handleUpload()" color="primary" cdkFocusInitial>Upload</button>
    </mat-dialog-actions>
    <br/>
  </div>

  <div *ngIf="show_torrent_contents && hasUploadedFiles() && !isMobileUser" [ngClass]="isOnFileUploadTab() ? '' : 'hidden'" class="torrent_contents_container">
    <div class="torrent-contents-header">
      <h3> Torrent Contents</h3>
      <p>&nbsp; • &nbsp;</p>
      <p> {{getFilesToUploadString()}} </p>
    </div>

    <div class="files_in_torrents">
      <app-file-system-tree-explorer
      [showProgress]="false"
      [directories]="serialized_nodes"> </app-file-system-tree-explorer>
    </div>
  </div>
</div>
