.upload_outer_container {
  display: flex;
  flex-direction: row;
}

.upload_container {
  display: flex;
  flex-direction: column;
  max-height: 95vh;

  flex-grow: 1;

  // position: relative;

  mat-dialog-content.dialog_content {
    flex-grow: 1;
    max-height: unset;

    #choose_save_location {
      width: 95%;
      min-width: 300px;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: baseline;

      #trigger_file_explorer {
        margin-left: 20px;
      }
    }
  }
}

.torrent_contents_container {
  min-width: 400px;
  max-width: 40vw;

  padding: 24px;

  .files_in_torrents {
    max-height: 58vh;
    overflow-y: scroll;
  }
}

.mat-raised-button {
    background: #1976D2;
}

mat-form-field {
    flex-grow: 1;
}

mat-hint {
  font-size: small;
}

#magnet_url_input {
  min-width: 100%;
  min-height: 280px;
}

#torrentFileUpload {
  display: none;
}

.file_upload_container {
  display: flex;
  flex-direction: column;
}

.upload_files {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  align-self: center;

  width: 100%;
  min-height: 200px;

  padding: 5px;
  text-align: center;

  /** Nice border */
  border: dashed 1px grey;
  border-radius: 20px;

  /** Styles to apply when hovering over drag & drop container */
  &.fileover {
    box-shadow: inset 0px 0px 60px -10px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 200ms;
  }

  /** Styles to apply when hovering over drag & drop container */
  &.dark-theme.fileover {
    box-shadow: inset 0px 0px 60px -10px rgba(136, 136, 136, 1);
    transition: all ease-in-out 200ms;
  }
}

.no_torrent_contents_msg {
  align-self: center;
  width: 95%;
}

.upload_files h4 {
  margin-left: 10px;
}
