<div [ngClass]="{'dark-theme': isDarkTheme | async}" class="mat-dialog-inner-container mat-app-background">

  <h2 mat-dialog-title>Upload Torrents</h2>
  <mat-dialog-content class="mat-typography">
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="handleTabChange($event)">
      <mat-tab label="File Upload">
        <br/>

        <div class="upload_files">
          <button color="accent" mat-raised-button (click)="torrentFileUpload.click()">
            <mat-icon>attach_file</mat-icon>
            &nbsp; Choose Files
          </button>

          <h4>{{getFilesToUploadString()}}</h4>

          <input multiple #torrentFileUpload type="file" accept=".torrent" id="torrentFileUpload" (change)="updateFiles($event)">
        </div>
        <br/>

        <div class="files_in_torrents">
          <h3> Torrents Found </h3>
          <p *ngIf="!isTreeExplorerReady"> Try choosing some files above. </p>
          <app-file-system-tree-explorer
              *ngIf="isTreeExplorerReady"
              [showProgress]="false"
              [directories]="serialized_nodes"> </app-file-system-tree-explorer>
        </div>
      </mat-tab>

      <mat-tab label="Magnet URL">
        <br/>
        <mat-form-field id="magnet_url_input" appearance="outline">
          <mat-label>List of URLs...</mat-label>
          <textarea rows="14" value="{{urlsToUpload}}" name="savepath" type="text" id="savepath" (change)="updateURLsToUpload($event)" matInput></textarea>
          <mat-hint align="start">Separate each URL with a new line</mat-hint>
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>

    <br/>
    <mat-divider></mat-divider>
    <br/>

    <h3>Save Location</h3>
    <p>Pick a location to save the files. If none is chosen, the default shown will be used instead.</p>

    <button color="primary" mat-raised-button (click)="openFileSystemExplorerDialog($event)">
      <mat-icon>folder</mat-icon>
      &nbsp; Choose Save Location
    </button>

    <br/>
    <br/>

    <mat-form-field appearance="outline">
      <mat-label>Download To...</mat-label>
      <input value="{{filesDestination}}" name="savepath" type="text" id="savepath" (change)="updateFileDestination($event)" matInput >
      <mat-icon matSuffix>folder_open</mat-icon>
    </mat-form-field>

    <br/>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button disabled={{isLoading}} mat-button [mat-dialog-close]="true">Cancel</button>
    <button disabled={{isUploadDisabled()}} mat-raised-button (click)="handleUpload()" color="primary" cdkFocusInitial>Upload</button>
  </mat-dialog-actions>
</div>
