.upload_container {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-dialog-content.dialog_content {
    flex-grow: 1;
    max-height: unset;

    .files_in_torrents {
      max-height: 200px;
      overflow-y: scroll;
    }

    #choose_save_location {
      width: 95%;
      min-width: 300px;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: baseline;

      #trigger_file_explorer {
        margin-left: 20px;
      }
    }
  }
}

.mat-raised-button {
    background: #1976D2;
}

mat-form-field {
    flex-grow: 1;
}

mat-hint {
  font-size: small;
}

#magnet_url_input {
  min-width: 100%;
  min-height: 280px;
}

#torrentFileUpload {
  display: none;
}

.upload_files {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.upload_files h4 {
  margin-left: 10px;
}
