<div class="cdk-overlay-container">
    <div id="bulk-update-container" class="bulkUpdateTorrentsContainer cdk-overlay-backdrop cdk-overlay-dark-backdrop cdk-overlay-backdrop-showing cdk-global-overlay-wrapper">
        
        <mat-card id="bulk-update-card" class="mat-elevation-z6">
            <mat-card-header *ngIf="canUserEdit">
                <mat-card-title>Bulk Update Torrents</mat-card-title>
                <mat-card-subtitle>{{getSnackbarMessage()}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content id="bulkd-update-card-content">
                
                <div class="bulk-update-advanced-content" *ngIf="canUserEdit">
                    <p> What would you like to do? </p>
                </div>

                <!-- Only show this stuff if the user hasn't clicked "MODIFY" yet -->
                <div *ngIf="!canUserEdit" id="bulkUpdateMessage">
                    <h3 id="bulkMessageHeading">{{getSnackbarMessage()}}</h3>
                </div>
            
                <div *ngIf="!canUserEdit" id="bulkUpdateActions">
                    <button color="warn" mat-button (click)="handleEditAction()">MODIFY</button>
                    <button color="primary" mat-button (click)="handleCancelAction()">CANCEL</button>
                </div>
            </mat-card-content>

            <div class="mat-card-actions" *ngIf="canUserEdit">
                <button mat-button (click)="handleCancelAction()">CANCEL</button>
                <button color="warn" mat-button (click)="handleDeleteAction()">
                    <mat-icon>delete</mat-icon>
                    DELETE
                </button>
                <button color="accent" mat-button (click)="true">
                    <mat-icon>pause</mat-icon>
                    PAUSE
                </button>
                <button color="primary" mat-button (click)="true">
                    <mat-icon>play_arrow</mat-icon>
                    RESUME
                </button>
            </div>
        </mat-card>
    </div>
</div>
