$border-dark: #6F6F6F;

#bulk-update-card {
  padding: 0 20px 0 30px;
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  align-items: baseline;

  border-radius: 0;
}

.spacer {
  flex-grow: 1;
}

.mat-card-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  margin-bottom: 0;

  #vertical_divider {
    margin: 0 10px 0 10px;
    color: $border-dark
  }
}

.mat-card-info {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}

.mat-card-info button {
  margin-left: 20px;
}

.refresh-interval {
  mat-chip {
    letter-spacing: 0.05em;
    border-radius: 0;
  }
}
