.bulkUpdateTorrentsContainer {

    pointer-events: none;
    background: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

mat-card {
    /* padding-left: 15px;
    padding-right: 5px; */

    min-width: 500px;
    max-height: 70px;

    position: absolute;
    bottom: 30px;

    pointer-events: all;

    transition: all 0.5s ease-in-out;
    animation: show_content;
}

mat-card.grow {
    min-width: 600px;
    max-height: 400px;
    
    /** Allow children to inherit animation **/
    animation: show_content 0.4s ease-in 0 1;
    -webkit-animation: show_content 0.4s 1 ease-in-out;
}

mat-card-header {
    animation: inherit;
    -webkit-animation: inherit;
}

mat-card-content {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;
}

.bulk-update-advanced-content {
    animation: inherit;
    -webkit-animation: inherit;
}

/** For when the user opens advanced menu **/
.mat-card-actions {
    display: flex;
    justify-content: center;

    margin: 0;

    width: 100%;

    animation: show_content 1.3s ease-in 0 1;
    -webkit-animation: show_content 1.3s 1 ease-in-out;
}

#bulkUpdateActions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#bulkMessageHeading {
    margin: 0;   
}

@keyframes show_content {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}