<div id="bulk-update-card" class="mat-elevation-z1">
    <div class="mat-card-actions">

        <button color="warn" mat-icon-button (click)="handleBulkActions('delete')">
            <mat-icon>delete</mat-icon>
        </button>

        <button color="primary" mat-icon-button (click)="handleBulkActions('play')">
            <mat-icon>play_arrow</mat-icon>
        </button>

        <button color="accent" mat-icon-button (click)="handleBulkActions('pause')">
            <mat-icon>pause</mat-icon>
        </button>

        <button color="default" mat-icon-button (click)="handleBulkActions('increasePrio')">
            <mat-icon>arrow_upward</mat-icon>
        </button>

        <button color="default" mat-icon-button (click)="handleBulkActions('decreasePrio')">
          <mat-icon>arrow_downward</mat-icon>
        </button>

        <button color="default" mat-icon-button (click)="handleBulkActions('maxPrio')">
            <mat-icon>vertical_align_top</mat-icon>
        </button>

        <button color="default" mat-icon-button (click)="handleBulkActions('minPrio')">
            <mat-icon>vertical_align_bottom</mat-icon>
        </button>
    </div>
</div>
