@import "~@angular/material/theming";
@import '../../variables.scss';

.container {
  width: 100%;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dark-theme {
    color: white;
  }

  #slideToggleTheme {
    position: fixed;
    top: 25px;
    right: 25px;

    display: flex;
    flex-direction: row;
    align-items: center;

    mat-slide-toggle {
      margin-left: 15px;
    }
  }

  mat-card {
    min-height: 400px;
    min-width: 340px;
    max-width: 450px;

    width: 60%;

    /*Animations short-hand: {duration} {timing-function} {dekay} {itetarion-count} {nameOfAnimation}*/
    animation: 0.4s ease-out 0s 1 slideInAndFadeFromBottom;

    mat-card-content {
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      .card-header {
        text-align: center;

        h1 { color: #555560; }
        h1.dark-theme {
          color: white
        }
      }

      .login-details {
        margin-top: 30px;

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        mat-form-field {
          width: 90%;
          max-width: 280px;
        }
      }

      #login_button {
        margin-top: 10px;
      }
    }
  }
}

/*Rise up tranistion*/
@keyframes slideInAndFadeFromBottom{
  0% {
    transform: translateY(20%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/** For phone screens */
@media only screen and (max-width: 768px) {
  .container {
    height: 90%;
  }

  mat-card {
    border-top: 7px solid mat-color($my-app-primary);
    border-left: hidden;
  }

  .dark-theme mat-card {
    border-top: 7px solid mat-color($dark-primary);
  }
}

/** For regular screens */
@media only screen and (min-width: 769px) {
  mat-card {
    border-left: 7px solid mat-color($my-app-primary);
  }

  .dark-theme mat-card {
    border-left: 7px solid mat-color($dark-primary);
  }
}
