<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="card-header">
        <h1>Login</h1>
        <mat-card-subtitle>Sign in below to continue.</mat-card-subtitle>
      </div>

      <div class="login-details">
        <mat-form-field appearance="outline" id="username">
          <mat-label>Username</mat-label>
          <input matInput value="{{username}}" type="text">
        </mat-form-field>

        <mat-form-field appearance="outline" id="password">
          <mat-label>Password</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
