.leftNavigation, .directoryContents {
    padding: 10px;
}

.file-systme-explorer-container {
    min-height: 50vh;

    display: flex;
    flex-direction: row;
}

.leftNavigation {
    padding-left: 0;
    flex-grow: 1;

    max-width: 200px;
    height: 450px;

    overflow: scroll;
}

.directoryContents {
    flex-grow: 4;

    height: 450px;

    overflow: scroll;
}

#saveLocation {
    margin-left: 20px;
}

#isFolderSelected {
    justify-self: flex-end;
}