<div [ngClass]="{'dark-theme': isDarkTheme | async}" class="mat-dialog-inner-container mat-app-background">

    <h2 mat-dialog-title>Choose Save Location</h2>
    <mat-card-subtitle>Note: Any un-used folders you create will not be saved.</mat-card-subtitle>

    <mat-divider></mat-divider>
    <br/>

    <div class="file-explorer-actions">
      <button color="primary" mat-button (click)="navigateUp()">
        <mat-icon mat-list-icon>arrow_back</mat-icon>
        Back
      </button>

      <button color="accent" mat-flat-button (click)="handleCreateFolderAction()">
        <mat-icon mat-list-icon>add</mat-icon>
        New Folder
      </button>
    </div>

    <mat-dialog-content class="mat-typography">

        <div class="file-systme-explorer-container">
            <div class="leftNavigation" mode="side" opened>
                <mat-nav-list role="list">
                    <mat-list-item *ngFor="let dir of leftChildren" (click)="navigateToDir(dir, 'parent')">

                        <mat-icon *ngIf="!isDirectorySelected(dir)" color="accent" mat-list-icon>folder</mat-icon>
                        <mat-icon *ngIf="isDirectorySelected(dir)" color="accent" mat-list-icon>folder_open</mat-icon>
                        <div mat-line>{{dir.value}}</div>
                        <div mat-line>{{getNumChildrenString(dir)}}</div>

                    </mat-list-item>
                </mat-nav-list>
            </div>
            <mat-divider vertical></mat-divider>
            <div class="directoryContents">
                <p *ngIf="rightPanelHasContent() && !isCreatingNewFolder">Create a folder with the "New Folder" button.</p>

                <mat-list-item disableRipple *ngIf="isCreatingNewFolder">
                  <mat-form-field class="create-new-folder-input">
                    <span matPrefix>
                      <mat-icon color="accent">create_new_folder</mat-icon>
                      &nbsp;
                    </span>
                    <input matInput (keyup)="handleFolderNameChange($event)" type="text" placeholder="Folder Name..." />
                  </mat-form-field>

                  <button matSuffix (click)="cancelFolderCreation()" color="default" mat-icon-button>
                    <mat-icon>clear</mat-icon>
                  </button>

                  <button type="submit" color="primary" (click)="createFolder()" mat-icon-button>
                    <mat-icon>done</mat-icon>
                  </button>
                </mat-list-item>

                <mat-nav-list role="list">
                    <mat-list-item *ngFor="let dir of rightChildren" (click)="navigateToDir(dir, 'child')">
                        <mat-icon color="accent" mat-list-icon>folder</mat-icon>
                        <div mat-line>{{dir.value}}</div>
                        <div mat-line>{{getNumChildrenString(dir)}}</div>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </div>

        <br/>
        <br/>
        <h3 id="saveLocation"><b>Save Location: </b>{{getFilePath() === "" ? "{ Unchanged }" : getFilePath()}}</h3>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="false"> Cancel </button>
        <button mat-raised-button (click)="closeDialog()" color="primary"> Confirm </button>
    </mat-dialog-actions>

</div>
