.leftNavigation, .directoryContents {
    padding: 10px;
}

.file-systme-explorer-container {
    min-height: 50vh;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}

.file-explorer-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftNavigation {
    padding-left: 0;
    flex-grow: 1;

    max-width: 200px;
    height: 450px;

    overflow-y: scroll;
}

.directoryContents {
    flex-grow: 4;

    height: 450px;

    overflow-y: scroll;

    .create-new-folder-input {
      min-width: 60%;
    }

    .new-folder-actions {

    }
}

#saveLocation {
    margin-left: 20px;
}

#isFolderSelected {
    justify-self: flex-end;
}
