.global-transfer-info-container {
  height: 100%;

    .data-container {
      height: 100%;

      display: flex;
      flex-direction: column;

      padding: 4px 20px;

      #disk_summary, #global_transfer {
        display: flex;
        flex-direction: column;

        width: 100%;
      }

      #disk_summary {
        margin-right: 10px;
      }

      #global_transfer {
        margin-left: 10px;
      }
    }
}

#summaryContent {
    justify-self: flex-end;

    display: flex;
    flex-direction: row;
}

h3 {
    font-size: 11pt;
    margin: 0;
}

#summaryContent h4 {
    font-size: 10pt;
    margin: 0 5px 0 5px;
}

#summaryContentDivider {
    margin: 0 10px 0 10px;
}

/** For small screens */


