.global-transfer-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 5px;
    margin-top: 5px;

    flex-wrap: wrap;
}

.torrent-transfer-info-container, .disks-transfer-information {
    min-width: 500px;
    width: 40%;
    max-height: 40px;

    margin: 0px 0 10px 0;
    padding: 5px 10px 0 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
    vertical-align: middle;
}

#summaryContent {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

h3 {
    font-size: 11pt;
}

#summaryContent h4 {
    font-size: 10pt;
    margin: 0 5px 0 5px;
}

#summaryContentDivider {
    margin: 0 10px 0 10px;
}

/** For small screens */
@media only screen and (max-width: 1200px) {
  .global-transfer-info-container {
    justify-content: center;
  }
}

