<div [ngClass]="{'dark-theme': isDarkTheme | async}" class="global-transfer-info-container mat-app-background">
    <mat-card class="mat-elevation-z1 disks-transfer-information">
        <h3>
            <b>Disk Summary</b>
        </h3>
        
        <div>
            <mat-spinner diameter=30 *ngIf="isLoading()"></mat-spinner>
    
            <div *ngIf="!isLoading()" id="summaryContent">
                <mat-icon color="primary">storage</mat-icon>
                <h4>Free Space: {{getFreeSpaceOnDisk()}}</h4>
            </div>
        </div>

    </mat-card>

    <mat-card class="mat-elevation-z2 torrent-transfer-info-container">
        <h3>
            <b>Global Transfer</b>
        </h3>
    
        <div>
            <mat-spinner diameter=30 *ngIf="isLoading()"></mat-spinner>
    
            <div *ngIf="!isLoading()" id="summaryContent">

                <mat-icon color="primary">arrow_downward</mat-icon>
                <h4>{{getDownloadSpeedString()}} ({{getDownloadedString()}})</h4>
    
                <mat-divider id="summaryContentDivider" [vertical]="true"></mat-divider>
    
                <mat-icon color="accent">arrow_upward</mat-icon>
                <h4>{{getUploadSpeedString()}} ({{getUploadedString()}})</h4>
    
            </div>
        </div>
    </mat-card>
</div>
