.global-transfer-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
    
    flex-wrap: wrap;
    min-width: 800px;
}

.torrent-transfer-info-container, .disks-transfer-information {
    min-width: 500px;
    width: 40%;
    height: 50px;

    margin: 0px 0 10px 0;
    padding: 10px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
    vertical-align: middle;
}

#summaryContent {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

h3 {
    font-size: 11pt;
}

#summaryContent h4 {
    font-size: 10pt;
    margin: 0 5px 0 5px;
}

#summaryContentDivider {
    margin: 0 10px 0 10px;
}