<style>

  :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 4px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
  }

  a,
    a:visited,
    a:hover {
      color: #1976d2;
      text-decoration: none;
    }
  
    a:hover {
      color: #125699;
    }
  
    button {
      margin: 5px;
    }
  
  
    footer {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      line-height: 20px;
    }
  
    footer a {
      display: flex;
      align-items: center;
    }

</style>

<router-outlet></router-outlet>
<div class="container">
  <!-- Footer -->
  <div class="footer">
    <h3>
      Made by Bilal Ahmed. Source code is on 
      <a href="https://github.com/bill-ahmed" target="_blank" rel="noopener noreferrer"> <u>GitHub.</u> </a> 
      😊
    </h3>
  </div>
</div>