<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 4px;
  }


  .spacer {
    flex: 1;
  }

  .toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;

    padding: 15px;
  }

  .capitalCaseText {
    text-transform: uppercase;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content {
    display: flex;
    width: 100%;
    padding: 5px;

    flex-grow: 1;

    flex-direction: column;
  }


  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  button {
    margin: 5px;
  }


  footer {
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }
</style>

<div class="container">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <span>
      <div class="leftInfo">
        <h1 class="capitalCaseText">
          Manage Torrents
        </h1>
        <h4>
          qBittorrent v4.2.1
        </h4>
      </div>
    </span>

    <div class="spacer"></div>

    <div>
      Fab Icon
    </div>

    <button mat-button>
      Advanced...
    </button>

  </div>

  <!-- Main Content -->
  <div class="content" role="main">
    <app-torrents-table></app-torrents-table>
  </div>


  <!-- Footer -->
  <div class="footer">
    <h3>
      footer stuff
    </h3>
  </div>
</div>