.container {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    background: black;
    color: white;

    min-height: 61px;

    position: relative;
    bottom: 0;
}

.footer a {
    text-decoration: none;
    color: inherit;
}
