<div [ngClass]="{'dark-theme': isDarkTheme | async}" class="mat-dialog-inner-container mat-app-background">

  <h2 mat-dialog-title>Settings</h2>
  <mat-card-subtitle>Manage local and qBittorrent preferences.</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-dialog-content class="mat-typography">
    <br/>

    <div class="content_container">
      <div class="leftNavigation" mode="side" opened>
        <mat-nav-list role="list">

          <mat-list-item (click)="onTabSelect('web_ui')">
            <mat-icon color="{{tab_selected === 'web_ui' ? 'primary' : 'accent'}}" mat-list-icon>public</mat-icon>
            <div mat-line>Web UI</div>
            <div mat-line>Options for this alternate UI</div>
          </mat-list-item>

          <mat-list-item (click)="onTabSelect('downloads')">
            <mat-icon color="{{tab_selected === 'downloads' ? 'primary' : 'accent'}}" mat-list-icon>get_app</mat-icon>
            <div mat-line>Downloads</div>
          </mat-list-item>

          <mat-list-item (click)="onTabSelect('speed')">
            <mat-icon color="{{tab_selected === 'speed' ? 'primary' : 'accent'}}" mat-list-icon>speed</mat-icon>
            <div mat-line>Speed</div>
          </mat-list-item>

          <mat-list-item (click)="onTabSelect('about')">
            <mat-icon color="{{tab_selected === 'about' ? 'primary' : 'accent'}}" mat-list-icon>info</mat-icon>
            <div mat-line>About</div>
          </mat-list-item>
        </mat-nav-list>
      </div>

      <div class="rightNavigation">

      </div>
    </div>

  </mat-dialog-content>
  <br/>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Cancel</button>
    <button mat-raised-button color="primary" cdkFocusInitial>Save</button>
  </mat-dialog-actions>

</div>
