@import "~@angular/material/theming";
@import '../../../variables.scss';

.settings_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content_container {
  display: flex;
  flex-direction: row;
  height: 95%;
}

.dialog_content {
  flex-grow: 1;
}

.hidden {
  display: none;
}

.settings_categories, .rightNavigation {
  padding: 10px;
  height: 90%;
}

.settings_categories {
  padding-left: 0;
  padding-right: 0;

  max-width: 300px;
  min-height: 450px;

  overflow-y: scroll;

  mat-nav-list {
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    mat-list-item {
      flex-grow: 1;
    }
  }

  .mat-list-item-content {
    height: 100% !important;
  }
}

.rightNavigation {
  flex-grow: 1;
  min-height: 450px;
  overflow-y: scroll;
  max-width: 80%;
}

.active_light {
  border-right: 3px solid mat-color($my-app-primary);
}

.active_dark {
  border-right: 3px solid mat-color($dark-primary);
}
