.content_container {
  min-width: 65vw;

  display: flex;
  flex-direction: row;
}

.leftNavigation, .rightNavigation {
  padding: 10px;
}

.leftNavigation {
  padding-left: 0;
  padding-right: 0;

  max-width: 300px;
  height: 450px;

  overflow-y: scroll;
}

.rightNavigation {
  flex-grow: 1;
  height: 450px;
  overflow-y: scroll;
  max-width: 75%;
}
