.mat-dialog-inner-container {
    min-width: 50vw;
}

app-file-system-tree-explorer {
  width: 97%;
}

.torrent-info-general-content, .torrent-info-content-content {
    margin: 20px 10px 10px 10px;
    min-height: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

mat-chip-list {
    align-self: flex-end;
}

.leftPanel, .rightPanel {
  /* flex-grow: 1; */
  padding: 5px;
}

.torrent_tags p-tag {
  margin-right: 8px;
}
