<div [ngClass]="{'dark-theme': isDarkTheme | async}" class="mat-dialog-inner-container mat-app-background">

    <div class="row space-between align-baseline">
      <h2 mat-dialog-title>
        {{torrent.name}}
        <p style="font-size: 10pt; margin: 0;"><i>{{torrent.hash}}</i></p>
        <p></p>

        <div class="torrent_tags">
          <p-tag
            [value]="state()"
            [styleClass]="getClassForStatus(torrent)"
            >
          </p-tag>

          <p-tag *ngIf="torrent.force_start"
            value="Forced Start"
            [styleClass]="getClassForStatus(torrent)"
            >
          </p-tag>
        </div>
      </h2>

      <button *ngIf="isMobileUser" mat-icon-button [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-dialog-content class="mat-typography torrent-info-container">
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="General">
                <div class="torrent-info-general-content">
                  <div class="row">
                    <div class="panel">
                      <p class="word-break-all"><b>Name:</b> {{torrent.name}}</p>
                      <p><b>Total Size:</b> {{total_size()}}</p>
                      <p class="word-break-all"><b>Save Path:</b> {{torrent.save_path}}</p>
                    </div>

                    <div class="panel">
                      <p><b>Added On:</b> {{added_on()}}</p>
                      <p><b>Completed On:</b> {{completed_on()}}</p>
                      <p><b>Last Activity:</b> {{last_activity()}}</p>
                    </div>
                  </div>

                  <mat-divider></mat-divider>

                  <div class="row">
                    <div class="panel">
                        <p>Downloaded: {{downloaded()}} / {{total_size()}}</p>
                        <p>Download Speed: {{dl_speed()}} ({{dl_speed_avg()}} avg.)</p>
                        <p>Download Limit: {{dl_limit()}}</p>
                        <p>Share Ratio: {{ratio()}}</p>
                    </div>

                    <div class="panel">
                      <p>Uploaded: {{uploaded()}}</p>
                      <p>Upload Speed: {{up_speed()}} ({{up_speed_avg()}} avg.)</p>
                      <p>Upload Limit: {{up_limit()}}</p>
                    </div>
                  </div>
                </div>
            </mat-tab>

            <mat-tab>
              <ng-template matTabLabel>
                <span matBadge="{{isLoading ? '—' : torrentContents.length}}" matBadgeColor="accent" matBadgeOverlap="false">Files</span>
              </ng-template>
                <div class="torrent-info-content-content">
                  <app-file-system-tree-explorer
                      *ngIf="!isLoading"
                      [showProgress]="true"
                      [allowSetPriority]="true"
                      [directories]="get_content_directories_as_advanced_nodes()"

                      (onPriorityChange)="handleFilePriorityChange($event)"
                      (onPriorityChangeToggled)="handlePriorityChangeToggled()">
                  </app-file-system-tree-explorer>

                  <mat-spinner *ngIf="isLoading"></mat-spinner>
                </div>
            </mat-tab>

        </mat-tab-group>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button *ngIf="!isMobileUser" mat-button [mat-dialog-close]="true">Close</button>
    </mat-dialog-actions>

</div>
