.mat-dialog-inner-container {
    min-width: 50vw;
}

app-file-system-tree-explorer {
  width: 97%;
}

.torrent-info-general-content, .torrent-info-content-content {
    overflow-y: scroll;
}

.row {
  margin: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-chip-list {
    align-self: flex-end;
}

.panel {
  /* flex-grow: 1; */
  padding: 5px;
}

.torrent_tags p-tag {
  margin-right: 8px;
}
