.mat-dialog-inner-container {
    min-width: 50vw;
    height: 100%;
}

app-file-system-tree-explorer {
  width: 97%;
}

.row {
  margin: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-chip-list {
    align-self: flex-end;
}

.panel {
  /* flex-grow: 1; */
  padding: 5px;
}

.torrent_tags p-tag {
  margin-right: 8px;
}

table.torrentTrackerTable {
  margin: 25px;
  border: solid 3px rgba(0,0,0,0.05);

  thead {
    th { 
      padding: 5px 10px;
      text-align: left;
      background: rgba(0,0,0,0.05);
    }
  }

  tbody {
    tr {
      td {
        padding: 5px;
      }
    }

    tr:nth-child(even) { background: rgba(0,0,0,0.05); }
  }
}
