.searchTorrentsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 5px;
    height: 50px;

    width: 100%;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.searchTorrentsInput {
    font-size: 12pt;
    letter-spacing: 0.06em;

    border: 0px solid;
    outline: none;

    padding-bottom: 7px;
    margin: 5px 5px 0 10px;

    flex-grow: 1;

    background: inherit;
    color: inherit;
}
