<mat-card class="mat-elevation-z0 searchTorrentsContainer">
    <mat-icon [style.marginLeft]="'5px'">search</mat-icon>
    <input id="torrentSearchInput" type="text" (keyup)="onSearchValueChange($event)" placeholder="Find a torrent..." [matAutocomplete]="auto" [formControl]="myControl">
    <mat-autocomplete autoActiveFirstOption  #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="onSearchValueChange(option)">
        {{option}}
      </mat-option>
    </mat-autocomplete>
</mat-card>
