<mat-card class="mat-elevation-z4 searchTorrentsContainer ">
    <mat-icon>search</mat-icon>
      <input id="torrentSearchInput" type="search" class="searchTorrentsInput" (keyup)="onSearchValueChange($event)" placeholder="Find a torrent..." [matAutocomplete]="auto" [formControl]="myControl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
</mat-card>
