.torrent-info-container {
    min-width: 40vw;
}

.torrent-info-general-content, .torrent-info-content-content {
    margin: 20px 10px 10px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

mat-chip-list {
    align-self: flex-end;
}