/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; min-width: 800px;}
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/** Styles applicable for all material dialogs */
.generic-dialog .mat-dialog-container {
  padding: 0;
}

.mat-dialog-inner-container {
  padding: 24px;
}

/*** CUSTOM SCROLLBAR ***/
::-webkit-scrollbar {
  width: 5px;   /** Target vertical scroll-bars */
  height: 5px;  /** Target horizontal scroll-bars */
}
  
/* Track */
::-webkit-scrollbar-track {
  /* background: white; */
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
