/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; min-width: 800px;}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/** Styles applicable for all material dialogs */
.generic-dialog .mat-dialog-container {
  padding: 0;
  overflow: unset;
}

.mat-dialog-inner-container {
  padding: 24px;
}

.indented_field {
  margin-top: 10px;
  margin-left: 30px;

  padding-left: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: max-content;

  border-left: solid 1px rgba(0, 0, 0, 0.12);
}

.dark-theme .indented_field {
  border-left: solid 1px rgba(255, 255, 255, 0.12);
}

.indented_field.disabled {
  pointer-events: none;
  color: #CECECE;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

  margin-top: 5px;

  .x-small {
    max-width: 17px;
  }

  .small {
    max-width: 35px;
  }

  .medium {
    max-width: 60px;
  }

  .large {
    max-width: 120px;
  }

  .numeric_field {
    margin-left: 10px;

    /** Hide the annoying increase/decrease buttons on numeric input */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  .regular_field {
    margin-left: 10px;
  }

  .wide_field {
    min-width: 300px;
  }
}

/** Styles for SnackBar **/
.snackbar-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: white;

  .message {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin: 0;
      margin-left: 10px;
    }
  }
}

.snackbar-success { background: #4CAF50; }
.snackbar-warn    { background: #FF9800; }
.snackbar-error   { background: #F44336; }
.snackbar-info    { background: #2196F3; }

/*** CUSTOM SCROLLBAR ***/
::-webkit-scrollbar {
  width: 5px;   /** Target vertical scroll-bars */
  height: 8px;  /** Target horizontal scroll-bars */
}

/* Corner of the track (will sometimes show a small white square) */
::-webkit-scrollbar-corner  {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
