@import '~@angular/material/theming';
@include mat-core();

$my-app-primary:    mat-palette($mat-blue);
$my-app-accent:     mat-palette($mat-deep-orange);
$my-app-warn:       mat-palette($mat-red, 500, 900, A400);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);