<div [ngClass]="{'dark-theme': isDarkTheme | async}" class="homeContainer mat-app-background">

  <!-- Toolbar -->
  <div class="toolbar">
    <mat-toolbar>
      <div>
        <h1>
          Manage Torrents
        </h1>
        <p id="qbit_version_info" style="margin-bottom: 0; font-size: 11pt;">
          Qbittorrent {{getAppVersion()}}, API v{{getAPIVersion()}}
        </p>
      </div>

      <app-search-torrents></app-search-torrents>

      <span>
        <div id="toolbar_actions">

          <button mat-fab matTooltip="Add Torrent" id="addTorrentFAB" color="warn" (click)="openAddTorrentDialog()">
            <mat-icon>add</mat-icon>
          </button>

          <button mat-fab matTooltip="Logout" id="logoutFAB" color="warn" (click)="openAddTorrentDialog()">
            <mat-icon>exit_to_app</mat-icon>
          </button>

          <button mat-raised-button id="addTorrentButton" color="warn" (click)="openAddTorrentDialog()">
            <mat-icon>cloud_upload</mat-icon>
            &nbsp; Upload
          </button>

          <button mat-raised-button id="logoutButton" color="warn" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            &nbsp; Logout
          </button>

          <mat-slide-toggle id="slideToggleTheme" (change)="handleSlideToggle($event)" [checked]="isDarkThemeEnabled()" color="primary">
            <mat-icon>nights_stay</mat-icon>
          </mat-slide-toggle>

        </div>
      </span>

    </mat-toolbar>
  </div>

  <!-- Main Content -->
  <div class="content" role="main">
      <app-torrents-table></app-torrents-table>
  </div>
</div>
