<div class="homeContainer">
  
  <!-- Toolbar -->
  <mat-toolbar>
    <span> 
      <h1>
        Manage Torrents
      </h1> 
    </span>

    <!-- Fill the remaining space -->
    <span class="fill_remaining"></span>

    <span>
      <div id="toolbar_actions">

          <button >
            Advanced...
          </button>
    
          <button mat-raised-button (click)="logout()" color="warn">
            Logout
          </button>
      </div>
    </span>

  </mat-toolbar>

  <!-- Main Content -->
  <div class="content" role="main">
      <app-torrents-table></app-torrents-table>
  </div>
</div>