.mat-toolbar {
  background: #1976D2;
  color: white;

  padding-left: 25px;
  padding-right: 25px;

  margin-bottom: 15px;

  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dark-theme .mat-toolbar {
  background: #212121;
}

.mat-toolbar h1 {
  font-size: 22pt;
}


.mat-toolbar #toolbar_actions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mat-toolbar #toolbar_actions button{
  margin-left: 25px;
}

.mat-toolbar #toolbar_actions #slideToggleTheme {
  padding-left: 30px;
}

.actions {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  justify-content: flex-end;
}

#addTorrentFAB, #logoutFAB {
  /* background: #ff1744; */
  display: none;
}

#addTorrentButton, #logoutButton {
  margin-right: 5px;
  font-size: 12pt;
}

app-search-torrents {
  margin-left: 20px;
  margin-right: 20px;

  flex-grow: 0.6;
  transition: all ease-in-out 0.4s;
}

app-search-torrents:focus-within {
  flex-grow: 0.62;
}

.spacer {
  flex: 1;
}

.homeContainer{
  flex: 1;
  min-height: 100%;
  width: 100%;
}

.content {
  display: flex;
  min-height: 100%;
  width: 100%;

  flex-direction: row;
  justify-content: space-evenly;

  padding-left: 2px;
  padding-right: 2px;
}

.content app-torrents-table {
  width: 83%;
}

.content app-global-transfer-info {
  width: 15%;
  margin-top: 30px;
}

/** For small screens */
@media only screen and (max-width: 1500px) {
  .content {
    flex-direction: column;
    padding: 0 5%;
  }

  .content app-torrents-table {
    width: 100%;
  }

  .content app-global-transfer-info {
    width: 100%;
    margin-top: 10px;
  }
}

/** For phone screens */
@media only screen and (max-width: 768px) {
  #addTorrentButton, .hide_mobile {
      display: none;
  }

  #addTorrentFAB, #logoutFAB {
      display: unset;
  }

  app-search-torrents {
    bottom: unset;
    transition: none;
    flex-grow: 1;

    margin-right: 0;
  }

  app-search-torrents:focus-within {
    flex-grow: 1;
  }
}
