.mat-toolbar {
    background: #1976D2;
    color: white;

    padding: 25px;
    margin-bottom: 30px;

    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dark-theme .mat-toolbar {
    background: #212121;
}

.mat-toolbar h1 {
    font-size: 22pt;
}


.mat-toolbar #toolbar_actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mat-toolbar #toolbar_actions button{
    margin-left: 25px;
}

.mat-toolbar #toolbar_actions #slideToggleTheme {
    padding-left: 30px;
}

#addTorrentFAB, #logoutFAB {
    /* background: #ff1744; */

    position: relative;
    top: 38px;
    right: 10px;

    display: none;
}

#addTorrentButton {
    color: white;
    margin-right: 20px;
    font-size: 13.5pt;
}

app-search-torrents {
    flex-grow: 0.8;
    margin-left: 20px;
    margin-right: 20px;
}

.spacer {
    flex: 1;
}

.homeContainer{
    flex: 1;
    min-height: 90vh;
    min-width: 800px;
    width: 100%;
}

.content {
    display: flex;
    min-height: 100%;
    width: 100%;

    flex-grow: 1;
    flex-direction: column;
}

/** For phone screens */
@media only screen and (max-width: 768px) {
    #addTorrentButton, #logoutButton {
        display: none;
    }

    #addTorrentFAB, #logoutFAB {
        display: unset;
    }

    #qbit_version_info {
      display: none;
    }
}
