<h2 mat-dialog-title>Delete Torrent(s)</h2>
<mat-dialog-content class="mat-typography">
 
  <h4><b>{{getTorrentsToDeleteString()}}</b></h4>
  <p>Are you sure you want to delete this?</p>

  <br/>
  <mat-checkbox (change)="updateDeleteFilesFromDisk($event)" disabled={{isLoading}}>Also delete from disk (<b>Warning:</b> you cannot undo this action)</mat-checkbox>

  <br/>
  <br/>
  <br/>
 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button disabled={{isLoading}} mat-button [mat-dialog-close]="true">Cancel</button>
  <button disabled={{isLoading}} mat-raised-button (click)="handleTorrentDelete()" color="warn" cdkFocusInitial>Delete</button>
</mat-dialog-actions>